In [1]:
import pandas as pd
import json

In [2]:
medrt_cui = {}

for line in open('/Users/dgg32/Documents/drug_atc/neo4j_files/moa_12.json', 'r'):
  obj = json.loads(line)

  for m in obj["medrt_id"]:
    medrt_cui[m] = obj["id"]

In [3]:
medrt_cui["N0000000153"] = "C1373072"
medrt_cui["N0000194042"] = "C5781807"
medrt_cui["N0000184150"] = "C3267923"
medrt_cui["N0000178377"] = "C2917239"

In [4]:
moa_df = pd.read_csv("drugs/moa_8.tsv", sep="\t")

In [5]:
moa_df.head()

            id                               name
0  N0000175076          Protein Kinase Inhibitors
1  N0000182137     Cytochrome P450 2D6 Inhibitors
2  N0000182141     Cytochrome P450 3A4 Inhibitors
3  N0000175624                    mTOR Inhibitors
4  N0000000233  Nucleic Acid Synthesis Inhibitors

In [6]:
moa_df['id'] = moa_df['id'].map(medrt_cui)

In [7]:
unmapped = moa_df[moa_df['id'].isna()]
print(f"Unmapped rows: {len(unmapped)}")
print(unmapped)

Unmapped rows: 0
Empty DataFrame
Columns: [id, name]
Index: []

In [8]:
moa_df.to_csv("drugs/moa_8_cui.tsv", sep="\t", index=False)

In [9]:
cui_moa_df = pd.read_csv("drugs/cui_moa_8.tsv", sep="\t")
cui_moa_df.head()

       from           to
0  C0541315  N0000175076
1  C0541315  N0000182137
2  C0541315  N0000182141
3  C0541315  N0000175624
4  C0065023  N0000000233

In [10]:
cui_moa_df["to"] = cui_moa_df['to'].map(medrt_cui)

In [11]:
cui_moa_df.head()

       from        to
0  C0541315  C2757016
1  C0541315  C2962190
2  C0541315  C2962753
3  C0541315  C1515672
4  C0065023  C2757009

In [12]:
unmapped = cui_moa_df[cui_moa_df['to'].isna()]
print(f"Unmapped rows: {len(unmapped)}")
print(unmapped)

Unmapped rows: 0
Empty DataFrame
Columns: [from, to]
Index: []

In [13]:
cui_moa_df.to_csv("drugs/cui_moa_8_cui.tsv", sep="\t", index=False)